html,
body {
  height: 100%;
}
#box1{
 background-color: lightgreen;
 border-style: groove;
  border-width: 5px;
  font-size:3rem ;
  font-style: inherit;
  font-family: fantasy;
  font-display: bold;
  padding: 0.5em; 
  text-align: center;
  margin-top: 20px;
  padding-top: 0.5em;
}

#box2{
  background-color: rgb(183, 229, 183);
  height: 80px;
  width:800px;
  border-style: groove;
  border-width: 3px;
  font-size: large;
  padding: 0.5em;
  margin: 40px;
  text-align: center;
  font-family: fantasy;
  margin-left: auto;
  margin-right: auto;
}

#box3{
  background-color: khaki;
  height: 300px;
  width: 300px;
  border-style: double;
  border-width: 3px;
  font-size: medium;
  font-style: oblique;
  padding: 0.5em;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  
}
#box3 img {
  width: 100%;
  padding-top: 3.5em;
}


#box4{
  background-color: bisque;
  width: 100px;
  height: 100px;
  font-size: 8rem;
  position: fixed;
  border-style: groove;
}



  canvas{
    padding-left: 200px;
    padding-right: auto;
  }


body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#canvasContainer {
  display: block;
}